[submodule "resources/manga"]
	path = resources/manga
	url = https://gitlab.com/kimentertainment/mangafun_manga.git
[submodule "resources/sources/aonhub"]
	path = resources/sources/aonhub
	url = https://gitlab.com/kimentertainment/mangafun_sources_aonhub.git
